---

import { siteConfig } from "../config";
import { getAllTranslations } from "../i18n/translation";

const translations = JSON.stringify(getAllTranslations());
---

<div id="config-carrier" data-hue={siteConfig.themeColor.hue} data-translations={translations}>
</div>
